lost.pl
tmp/*
shared/*.out
models/**/*.out
models/**/*NO_ANNOT*
models/**/*TREE2ANN*

shared/._*
scripts/._*
models/**/._*

scripts/.#*
shared/.#*
models/.#*

scripts/#*
shared/#*
models/#*

scripts/*~
shared/*~
models/**/*~

